# =========================

# System files

# =========================

.DS_Store
Thumbs.db
desktop.ini

# =========================

# Logs

# =========================

*.log

# =========================

# Cache / temp

# =========================

*.cache
*.tmp
*.temp

# =========================

# Node (если появится)

# =========================

node_modules/

# =========================

# IDE

# =========================

.vscode/
.idea/

# =========================

# Local PHP server files

# =========================

WebTreking/php/php.ini
WebTreking/php/php_error.log

# =========================

# Local data (если не хочешь хранить задачи в git)

# =========================

WebTreking/src/data/treking.JSON

# =========================

# OS temp

# =========================

*.swp
